[submodule "lib/glhck"]
	path = lib/glhck
	url = https://github.com/Cloudef/glhck
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glfwhck"]
	path = lib/glfwhck
	url = https://github.com/bzar/glfwhck.git
